<ons-page>
    <ons-toolbar>
        <div class="left">
            <ons-toolbar-button onclick="logout()">
                <ons-icon icon="md-power"></ons-icon>
            </ons-toolbar-button>
        </div>
        <div class="center">Market App</div>
        <div class="right">
            <ons-toolbar-button onclick="location.hash = '#/cart'">
                <ons-icon icon="md-shopping-cart"></ons-icon>
            </ons-toolbar-button>
        </div>
    </ons-toolbar>
    <div class="product-list">
        <ons-list id="productList"></ons-list>
    </div>
</ons-page>
